body {
  background: skyblue;
}

.content {
  padding: 20px;
  margin: 20px;
  align-content: center;
  text-align: center;
  background: white;
  color: black;
}

.search-box{
  padding: 20px;
  margin: 20px;
  text-align: left;
}